.cardcontent{
    display: flex;
    flex-direction: column;
   
    border-radius: 5px;
    margin: 2px;
    flex-wrap: wrap;
    padding: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   
}

.cardcontent h6 {
    margin: 0px;
}

.cardcontent p{
 margin: 0px;
 align-self: flex-start;

}

.titlearea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    flex-wrap: wrap;
}

.title{

}

.btngroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link{
    color: black;
}

.btnactions{
    display: flex;
    flex-direction: row;
    gap:1px;
}

.btnactions :hover{
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;;
}

.delete{
    color: red;
}

.read{
    color: orange;
}

.spam{
    color: green;
}